<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | prepend: include.path | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | prepend: include.path | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | prepend: include.path | absolute_url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | prepend: include.path | relative_url }}">
<link rel="mask-icon" href="{{ '/safari-pinned-tab.svg | prepend: include.path | absolute_url }}" color="#0d6efd">
<link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: include.path | absolute_url }}">
<meta name="msapplication-TileColor" content="#0d6efd">
<meta name="msapplication-config" content="{{ '/browserconfig.xml' | prepend: include.path | absolute_url }}">
<meta name="theme-color" content="#0d6efd">