---
---

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);

// Variables
$font-architects-daughter: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// navbar padding (1rem) + navbar-brand padding (2 * 0.3125rem) + navbar-brand font size * line height (1.25rem * 1.5)
$navbar-top-height: 3.5rem; //calc(1rem + .625rem + 1.25rem + .625rem);
// navbar padding (1rem) + navbar-brand padding (2 * 0.3125rem) + navbar-brand font size * line height (1rem * 1.5)
$navbar-bottom-height: 3.125rem; //calc(1rem + .625rem + 1rem + .5rem);

html {
  height: 100%;
}
body {
  height: 100% !important;
  overflow: hidden !important;
}
main > .container-fluid {
  position: absolute;
  top: $navbar-top-height;
  bottom: $navbar-bottom-height;
  right: 0;
  left: 0;
  overflow-y: auto;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}
main > .container-fluid > .row {
  height: 100% !important;
  scroll-snap-align: start;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* trips */
  .col-bwr-trip-info {
    overflow: auto;
  }
  .row-bwr-trip {
    height: 100% !important;
  }
  .col-bwr-trip-info, .col-bwr-trip-map {
    height: calc(100% - #{$navbar-bottom-height}) !important;
  }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  .col-bwr-trip-info {
    height: calc(50% - #{$navbar-bottom-height}/2);
    .row-bwr-trip-stats > .col {
      height: 50%;
    }
    .row-bwr-trip-places {
      overflow-x: auto;
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
    
    }
    .row-bwr-trip-places > .col {
      height: 50%;
      scroll-snap-align: start;

    }
  }
  .col-bwr-trip-map {
    height: calc(50% - #{$navbar-bottom-height}/2);
  }
}
/* All devices */
/* top nav */
.navbar.fixed-top {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05),inset 0 -1px 0 rgba(0,0,0,0.15);
  .navbar-brand {
    font-family: $font-architects-daughter;
    color: #39c;
  }
  .navbar-text {
    font-family: $font-architects-daughter;
  }
}
/* bottom nav */
.navbar.fixed-bottom {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05),inset 0 1px 0 rgba(0,0,0,0.15);
  .navbar-brand {
    font-family: $font-architects-daughter;
  }
}
/* trip feature cards */
.row-bwr-trip-features {
  overflow-x: auto;
  background-image: linear-gradient(rgba(13, 110, 253, 0.1), rgba(13, 110, 253, 0.1)), url('/assets/images/bwr-splash.jpg'); 
}
.row-bwr-trip-features > .col {
  min-height: 400px
}
.bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: 1rem; }

// Custom Icons
.fa-drink:before {
  content: "\f0f4";
}
.fa-food:before {
  content: "\f2e7";
}