---
---

@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

// Variables
$font-architects-daughter: "Architects Daughter", "Helvetica Neue", Helvetica,
  Arial, sans-serif;
// navbar padding (1rem) + navbar-brand padding (2 * 0.3125rem) + navbar-brand font size * line height (1.25rem * 1.5)
$navbar-top-height: 3.5rem; //calc(1rem + .625rem + 1.25rem + .625rem);
// navbar padding (1rem) + navbar-brand padding (2 * 0.3125rem) + navbar-brand font size * line height (1rem * 1.5)
$navbar-bottom-height: 3.125rem; //calc(1rem + .625rem + 1rem + .5rem);
// Styles
html {
  height: 100%;
}
body {
  height: 100% !important;
  overflow: hidden !important;
}
main > .container-fluid {
  position: absolute;
  top: $navbar-top-height;
  bottom: $navbar-bottom-height;
  right: 0;
  left: 0;
  overflow-y: auto;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}
main > .container-fluid > .row {
  height: 100% !important;
  scroll-snap-align: start;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* trips */
  .col-bwr-trip-info {
    overflow: auto;
  }
  .row-bwr-trip {
    height: 100% !important;
  }
  .col-bwr-trip-info,
  .col-bwr-trip-map {
    height: calc(100% - #{$navbar-bottom-height}) !important;
  }
}
// /* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .col-bwr-trip-info {
    height: calc(35% - #{$navbar-bottom-height}/ 2);
    .row-bwr-trip-places {
      overflow-x: auto;
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
    }
    .row-bwr-trip-places > .col {
      height: 50%;
      scroll-snap-align: start;
    }
  }
  .col-bwr-trip-map {
    height: calc(65% - #{$navbar-bottom-height}/ 2);
  }
}
// Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) {
//   .col-bwr-trip-info {
//     height: calc(40% - #{$navbar-bottom-height}/ 2);
//     .bwr-trip-stats {
//       height: calc(50% - #{$navbar-bottom-height}/ 2);
//     }
//   }
//   .col-bwr-trip-map {
//     height: calc(60% - #{$navbar-bottom-height}/ 2);
//   }
// }
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .col-bwr-trip-info {
    height: calc(50% - #{$navbar-bottom-height}/ 2);
  }
  .col-bwr-trip-map {
    height: calc(50% - #{$navbar-bottom-height}/ 2);
  }
  .bwr-trip-stats {
    flex-direction: row !important;
    display: flex !important;
  }
  .bwr-trip-stats.card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .bwr-trip-stats.card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .bwr-trip-stats.card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .bwr-trip-stats.card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
    overflow: hidden;
  }
}

/* All devices */
/* top nav */
.navbar.fixed-top {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  font-family: $font-architects-daughter;
  // text-transform: uppercase;
  .navbar-brand {
    color: #0c6cfc;
  }
  .navbar-text {
    font-family: $font-architects-daughter;
  }
}
.row-bwr-trip .navbar.navbar-light {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  //  text-transform: uppercase;
}
/* bottom nav */
.navbar.fixed-bottom {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 1px 0 rgba(0, 0, 0, 0.15);
  .navbar-brand {
    font-family: $font-architects-daughter;
  }
}
/* trip feature cards */
.row-bwr-trip-features {
  overflow-x: auto;
  background-image: linear-gradient(
      rgba(13, 110, 253, 0.1),
      rgba(13, 110, 253, 0.1)
    ),
    url("/assets/images/bwr-trips/bwr-splash.jpg");
}
.row-bwr-trip-features > .col {
  min-height: 400px;
}
.bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.rounded-4 {
  border-radius: 0.5rem;
}
.rounded-5 {
  border-radius: 1rem;
}

// Custom Icons
.fa-drink:before {
  content: "\f0f4";
}
.fa-food:before {
  content: "\f2e7";
}

.leaflet-container {
  z-index: 0;
}
