<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.name }}{% endif %}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url | remove: 'index.html' }}"/>

    {% if page.excerpt %}
      <meta property="og:description" content="{{ page.excerpt }}"/>
      <meta name="description" content="{{ page.excerpt }}"/>
    {% elsif site.description %}
      <meta property="og:description" content="{{ site.description }}"/>
      <meta name="description" content="{{ site.description }}"/>
    {% endif %}

    <title>{% if page.title %}{{ page.title }} – {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>
    
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/themes/minimal/css/style.css">
    <link rel="stylesheet" href="/assets/themes/minimal/css/github-light.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{{ site.url }}/feed.xml" rel="alternate" type="application/atom+xml" title="{{ site.name }}" />

    <link rel="canonical" href="{{ site.url }}{{ page.url | remove: 'index.html' }}">

  </head>
  <body>
    <div class="wrapper">
{% include themes/minimal/_header.html %}
      <section>
      	{% if page.title %}<h2>{{ page.title }}</h2>{% endif %}
        {{ content }}
      </section>
{% include themes/minimal/_footer.html %}
    </div>

{% include themes/minimal/_scripts.html %}
  </body>
</html>
