---
title: The Beautiful Way Round
description: A motorcycle tour of the English and Welsh coastline
image: /assets/images/bwr-trips/bwr-trip-2.jpg
redirect_from:
  - /thebeautifulwayround/
  - /tbwr/
layout: bwr
frameworks:
  - bootstrap-icons
  - leaflet-js
  - leaflet-js-ajax
  - leaflet-js-extra-markers
scripts:
  - /assets/scripts/bwr-main.min.js
collection: bwr-trips
hide-global-nav: true
---
<!-- Trip features -->
<div class="row row-bwr-trip-features align-items-center flex-nowrap bg-cover row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 p-4">
  {% for trip in site['bwr-trips'] -%}
  {% assign tripId = 'bwr-' | append: trip.slug -%}
  <div class="col">
    <div class="card h-100">
      <img src="/assets/images/bwr-trips/{{ tripId }}.jpg" class="card-img-top img-fluid" alt="{{ trip.title }} - {{ trip.description }}">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ trip.url }}">{{ trip.description }}</a></h5>
      </div>
      <div class="card-footer">
        <span class="badge rounded-pill bg-warning text-dark"><i class="bi bi-hash fw-bold" role="img" aria-label="Count"></i>{{ forloop.index }} </span>
        <span class="badge rounded-pill bg-danger"><i class="bi bi-calendar3" role="img" aria-label="Date"></i> {{ trip.date | date: "%b %Y" }}</span>
        <span class="badge rounded-pill bg-success"><i class="bi-signpost-2-fill" role="img" aria-label="Distance"></i> {{ trip.distance | append: " mi" }}</span>
        <span class="badge rounded-pill bg-primary"><i class="bi-geo-alt-fill" role="img" aria-label="Places"></i> {{ trip.places.size }}</span>
      </div>
    </div>
  </div>
  {% endfor -%}
</div>
<!-- Trip detail -->
{% for trip in site.bwr-trips -%}
{% assign tripId = 'bwr-' | append: trip.slug -%}
<div class="row row-bwr-trip" id="{{ tripId }}">
  <div class="col-12 px-0">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">{{ trip.title }}: {{ trip.description }}</span>
      </div>
    </nav>
  </div>
  <div class="col-lg-4 col-bwr-trip-info p-3 pe-lg-2">
    <!-- Trip stats -->
    <div class="row row-bwr-trip-stats row-cols-3 mx-0 mb-3 text-center">
      <div class="col ps-0">
        <div class="card h-100">
          <div class="card-body">
            <i class="bi bi-calendar3 fs-6 text-danger" role="img" aria-label="Calendar"></i>
            <h5 class="card-title fs-6">{{ trip.date | date: "%b %y" }}</h5>
            </div>
        </div>
      </div>
      <div class="col px-0">
        <div class="card h-100">
          <div class="card-body">
            <i class="bi-signpost-2-fill fs-6 text-success" role="img" aria-label="Distance"></i>
            <h5 class="card-title fs-6">{{ trip.distance | append: " miles"  }}</h5>
            </div>
        </div>
      </div>
      <div class="col pe-0">
        <div class="card h-100">
          <div class="card-body">
            <i class="bi bi-geo-alt-fill fs-6 text-primary" role="img" aria-label="Places"></i>
            <h5 class="card-title fs-6">{{ trip.places.size }}</h5>
            </div>
        </div>
      </div>
    </div>
    <!-- Trip places -->
    <div class="row row-bwr-trip-places row-cols-1 mx-0 flex-nowrap flex-lg-wrap gy-lg-2">
      {% for place in trip.places -%}
      <div class="col ps-0 pe-0">
        <div class="card overflow-hidden border-light h-100" id="{{ tripId | append: '-place-' | append: forloop.index }}" data-name="{{ place.name  }}" data-location="{{ place.location }}"  data-type="{{ place.type }}" data-latlng="{{ place.latlng | jsonify  }}">
          <div class="row">
            <div class="col">
              <div class="card-body">
                <h5 class="card-title"><i class="fas fa-fw fa-{{ place.type }} text-primary"></i> {{ place.name }}</h5>
                <p class="card-text"><small class="text-muted">{{ place.location }}</small></p>
              </div>
            </div>
            <div class="col-3">
              <img src="https://via.placeholder.com/228x208" class="img-fluid rounded-start float-end" alt="{{ place.name }}, {{ place.location }}" title="{{ place.name }}, {{ place.location }}">
            </div>
          </div>
        </div>
      </div>
      {% endfor -%}
    </div>
  </div>
  <!-- Trip map -->
  <div class="col-lg-8 col-bwr-trip-map p-3 ps-lg-2">
    <div class="map h-100 rounded-1" id="map-{{ forloop.index }}"></div>
  </div>
</div>
{% endfor -%}
